{{- $hasGUI := false }}
{{- if ne .chezmoi.username "root" }}
{{- $hasGUI = promptBoolOnce . "hasGUI" "does this machine have a gui?" -}}
{{- end }}

{{- if (env "EDITOR" | eq "nvim") -}}
diff:
  command: nvim
  args:
    - -d
    - "{{ "{{ .Destination }}" }}"
    - "{{ "{{ .Target }}" }}"

merge:
  command: nvim
  args:
    - -d
    - "{{ "{{ .Source }}" }}"
    - "{{ "{{ .Destination }}" }}"
    - "{{ "{{ .Target }}" }}"
{{- end }}

data:
  hasGUI: {{ $hasGUI }}
